body {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #480;
}

em {
	color: #aaa;
    margin-right: 30px;
}

.link {
    font-family: KaiTi;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
