.center-box {
	width: 1024px;
	margin: 80px auto;
}

.blog {
	width: 750px;
	margin: 0px;
}

.blog-list {
	float: left;
	width: 750px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.right-list {
	margin: 0px;
	list-style: none;
	margin-left: 760px;
}

.blog .info {
	border-bottom: 1px #aaa dashed;
	margin: 3px 0px;
	padding: 3px 0px;
}

.blog p {
	text-indent: 40px;
	line-height: 24px;
}

.list-info {
	padding: 10px;
	color: #aaa;
	font-style: italic;
}

.blog-list li {
	display: block;
	padding: 5px;
	border-bottom: 1px #aaa dashed;
}

.blog-list li em {
	float: right;
	margin: 0px 30px;
}