<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{{ page.keywords }}" />
        
        <link rel="stylesheet" href="/css/all.css" />
        <link rel="stylesheet" href="/css/writting.css" />
        <link rel="stylesheet" href="/css/prettify.css" /> 
        
    </head>
    <body onload="prettyPrint()">
        <div class="center-box">
            <div class="blog">
	            <h2>{{ page.title }}</h2>
	            <div class="info">
	               <em>{{ page.date }}</em>
	               <em>{{ page.city }}</em>
	               <em>{{ page.weather }}</em>
	               <a href="/writting/craftsmen/" style="float: right;">返回目录</a>
	            </div>
	            <div>
	            {{ content }}
	            </div>
                <div class="comment">
                    <a id="comment-open" href="javascript:;">点击查看评论</a>
                	<div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="/js/prettify.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/a.js"></script>
    </body>
</html>
