<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/all.css" />
        <link rel="stylesheet" href="/css/writting.css" />
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/a.js"></script>
    </head>
    <body>
        
        <div class="center-box">
            <div class="list-info">
            {{ page.something }}
            </div>
            {{ content }}
        </div>
        
    </body>
</html>
